body{
    background-image: url('bg.jpg'); 
    background-size: cover;        
    background-repeat: no-repeat;   
    background-position: center;    
    font-family:Arial, Sans-serif;
    font-size:20px;
    margin:0;
    padding:0;
    text-align:center;
}  

header{
       font-family:Arial, Sans-serif;
       color:white;
       background-color:#263c39;
       margin-bottom:5px;
       padding:20px;
       border:5px;
       text-align:center:
}
main {
     padding:20px
}
button{
      padding:10px;
      background-color: d5888e;
      color:white;
      border:none;
      cursor:pointer;
}
button:hover {
    background-color:#324e4b;
}
input{
      padding:10px;
      background-color:#324e4b;
      color:white;
      placeholder-color:white;
      border:none;
}
input::placeholder {
  color: white;      
  opacity: 1;       
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #d5888e;
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 6px 7px rgba(0,0,0,0.1);
}
